azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0",
    "metadata": {
        "title": "SOCRadar MSSP Alarms for Microsoft Sentinel",
        "description": "Multi-tenant MSSP integration: Import SOCRadar alarms from multiple company accounts to Sentinel, sync closed incidents back to the correct SOCRadar tenant. Includes optional audit logging and custom alarms table for analytics.",
        "version": "1.0.0",
        "author": "SOCRadar",
        "lastUpdateTime": "2026-02-23T00:00:00.000Z"
    },
    "parameters": {
        "WorkspaceName": {
            "type": "string",
            "metadata": {
                "description": "Microsoft Sentinel Log Analytics Workspace Name"
            }
        },
        "WorkspaceLocation": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location/region of the Log Analytics workspace (e.g., centralus, northeurope). Must match your existing workspace region."
            }
        },
        "SocradarApiKey": {
            "type": "securestring",
            "metadata": {
                "description": "SOCRadar Platform API Key"
            }
        },
        "CompanyIds": {
            "type": "string",
            "metadata": {
                "description": "Comma-separated SOCRadar Company IDs (e.g., 330,331,332)"
            }
        },
        "CompanyNames": {
            "type": "string",
            "metadata": {
                "description": "Comma-separated Company Names matching IDs (e.g., ACME,Contoso,Fabrikam)"
            }
        },
        "PollingIntervalMinutes": {
            "type": "int",
            "defaultValue": 5,
            "minValue": 1,
            "maxValue": 60,
            "metadata": {
                "description": "How often to check for new alarms (1-60 minutes)"
            }
        },
        "InitialLookbackMinutes": {
            "type": "int",
            "defaultValue": 600,
            "minValue": 10,
            "maxValue": 10080,
            "metadata": {
                "description": "How far back to look on first run (default: 600 = 10 hours)"
            }
        },
        "ImportAllStatuses": {
            "type": "bool",
            "defaultValue": false,
            "metadata": {
                "description": "Import all alarm statuses (OPEN, RESOLVED, MITIGATED, FALSE_POSITIVE). Default: only OPEN"
            }
        },
        "EnableAuditLogging": {
            "type": "bool",
            "defaultValue": true,
            "metadata": {
                "description": "Log all operations to Log Analytics for auditing"
            }
        },
        "EnableAlarmsTable": {
            "type": "bool",
            "defaultValue": true,
            "metadata": {
                "description": "Store alarms in custom Log Analytics table (SOCRadar_Alarms_CL) for analytics and KQL queries"
            }
        },
        "EnableWorkbook": {
            "type": "bool",
            "defaultValue": true,
            "metadata": {
                "description": "Deploy SOCRadar MSSP Analytics Dashboard workbook"
            }
        },
        "TableRetentionDays": {
            "type": "int",
            "defaultValue": 365,
            "minValue": 30,
            "maxValue": 730,
            "metadata": {
                "description": "Data retention in days for custom tables (30-730, default: 1 year)"
            }
        },
        "_triggerStartTime": {
            "type": "string",
            "defaultValue": "[dateTimeAdd(utcNow(), 'PT3M')]",
            "metadata": {
                "description": "Internal: Logic Apps start 3 min after deploy for role propagation"
            }
        }
    },
    "variables": {
        "SentinelConnectionName": "azuresentinel-socradar-mssp-shared",
        "ImportPlaybookName": "SOCRadar-MSSP-Import",
        "SyncPlaybookName": "SOCRadar-MSSP-Sync",
        "AuditTableName": "SOCRadarAuditLog_CL",
        "AuditDcrName": "SOCRadar-MSSP-Audit-DCR",
        "AuditStreamName": "Custom-SOCRadarAuditLog_CL",
        "DceName": "SOCRadar-MSSP-DCE",
        "AlarmsTableName": "SOCRadar_Alarms_CL",
        "AlarmsDcrName": "SOCRadar-MSSP-Alarms-DCR",
        "AlarmsStreamName": "Custom-SOCRadar_Alarms_CL",
        "SentinelContributorRoleId": "ab8e14d6-4a74-4a29-9ba8-549422addade",
        "LogAnalyticsReaderRoleId": "73c42c96-874c-492b-b04d-ab87d138a893",
        "MonitoringMetricsPublisherRoleId": "3913510d-42f4-4e42-8a64-420c390055eb",
        "workspaceResourceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
        "WorkbookName": "SOCRadar-MSSP-Dashboard"
    },
    "resources": [
        {
            "type": "Microsoft.OperationalInsights/workspaces",
            "apiVersion": "2023-09-01",
            "name": "[parameters('WorkspaceName')]",
            "location": "[parameters('WorkspaceLocation')]",
            "properties": {
                "sku": {
                    "name": "PerGB2018"
                }
            }
        },
        {
            "type": "Microsoft.OperationsManagement/solutions",
            "apiVersion": "2015-11-01-preview",
            "name": "[concat('SecurityInsights(', parameters('WorkspaceName'), ')')]",
            "location": "[parameters('WorkspaceLocation')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]"
            ],
            "plan": {
                "name": "[concat('SecurityInsights(', parameters('WorkspaceName'), ')')]",
                "publisher": "Microsoft",
                "product": "OMSGallery/SecurityInsights",
                "promotionCode": ""
            },
            "properties": {
                "workspaceResourceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]"
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/providers/onboardingStates",
            "apiVersion": "2024-03-01",
            "name": "[concat(parameters('WorkspaceName'), '/Microsoft.SecurityInsights/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationsManagement/solutions', concat('SecurityInsights(', parameters('WorkspaceName'), ')'))]"
            ],
            "properties": {}
        },
        {
            "condition": "[parameters('EnableAuditLogging')]",
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2022-10-01",
            "name": "[concat(parameters('WorkspaceName'), '/', variables('AuditTableName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
                "[resourceId('Microsoft.OperationsManagement/solutions', concat('SecurityInsights(', parameters('WorkspaceName'), ')'))]"
            ],
            "properties": {
                "schema": {
                    "name": "[variables('AuditTableName')]",
                    "columns": [
                        {
                            "name": "TimeGenerated",
                            "type": "datetime",
                            "description": "Event timestamp"
                        },
                        {
                            "name": "EventType",
                            "type": "string",
                            "description": "Type: AlarmImported, AlarmSynced, CompanyError, Error"
                        },
                        {
                            "name": "CompanyId",
                            "type": "string",
                            "description": "SOCRadar company ID"
                        },
                        {
                            "name": "CompanyName",
                            "type": "string",
                            "description": "MSSP customer company name"
                        },
                        {
                            "name": "AlarmId",
                            "type": "string",
                            "description": "SOCRadar alarm ID"
                        },
                        {
                            "name": "IncidentId",
                            "type": "string",
                            "description": "Sentinel incident ID"
                        },
                        {
                            "name": "AlarmType",
                            "type": "string",
                            "description": "Main alarm type"
                        },
                        {
                            "name": "Status",
                            "type": "string",
                            "description": "Alarm status"
                        },
                        {
                            "name": "Severity",
                            "type": "string",
                            "description": "Alarm severity"
                        },
                        {
                            "name": "Message",
                            "type": "string",
                            "description": "Details or error message"
                        },
                        {
                            "name": "FullAlarmJson",
                            "type": "dynamic",
                            "description": "Complete SOCRadar alarm object"
                        }
                    ]
                },
                "retentionInDays": "[parameters('TableRetentionDays')]",
                "plan": "Analytics"
            }
        },
        {
            "condition": "[parameters('EnableAuditLogging')]",
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2023-03-11",
            "name": "[variables('AuditDcrName')]",
            "location": "[parameters('WorkspaceLocation')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces/tables', parameters('WorkspaceName'), variables('AuditTableName'))]"
            ],
            "kind": "Direct",
            "properties": {
                "description": "DCR for SOCRadar MSSP audit log ingestion",
                "streamDeclarations": {
                    "[variables('AuditStreamName')]": {
                        "columns": [
                            {
                                "name": "TimeGenerated",
                                "type": "datetime"
                            },
                            {
                                "name": "EventType",
                                "type": "string"
                            },
                            {
                                "name": "CompanyId",
                                "type": "string"
                            },
                            {
                                "name": "CompanyName",
                                "type": "string"
                            },
                            {
                                "name": "AlarmId",
                                "type": "string"
                            },
                            {
                                "name": "IncidentId",
                                "type": "string"
                            },
                            {
                                "name": "AlarmType",
                                "type": "string"
                            },
                            {
                                "name": "Status",
                                "type": "string"
                            },
                            {
                                "name": "Severity",
                                "type": "string"
                            },
                            {
                                "name": "Message",
                                "type": "string"
                            },
                            {
                                "name": "FullAlarmJson",
                                "type": "dynamic"
                            }
                        ]
                    }
                },
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[variables('workspaceResourceId')]",
                            "name": "workspace"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "[variables('AuditStreamName')]"
                        ],
                        "destinations": [
                            "workspace"
                        ],
                        "transformKql": "source",
                        "outputStream": "[variables('AuditStreamName')]"
                    }
                ]
            }
        },
        {
            "condition": "[parameters('EnableAlarmsTable')]",
            "type": "Microsoft.Insights/dataCollectionEndpoints",
            "apiVersion": "2023-03-11",
            "name": "[variables('DceName')]",
            "location": "[parameters('WorkspaceLocation')]",
            "properties": {
                "description": "Data Collection Endpoint for SOCRadar MSSP integration",
                "networkAcls": {
                    "publicNetworkAccess": "Enabled"
                }
            }
        },
        {
            "condition": "[parameters('EnableAlarmsTable')]",
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2022-10-01",
            "name": "[concat(parameters('WorkspaceName'), '/', variables('AlarmsTableName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
                "[resourceId('Microsoft.OperationsManagement/solutions', concat('SecurityInsights(', parameters('WorkspaceName'), ')'))]"
            ],
            "properties": {
                "schema": {
                    "name": "[variables('AlarmsTableName')]",
                    "columns": [
                        {
                            "name": "TimeGenerated",
                            "type": "datetime",
                            "description": "Ingestion timestamp"
                        },
                        {
                            "name": "AlarmId",
                            "type": "string",
                            "description": "SOCRadar alarm ID"
                        },
                        {
                            "name": "CompanyId",
                            "type": "string",
                            "description": "SOCRadar company ID"
                        },
                        {
                            "name": "CompanyName",
                            "type": "string",
                            "description": "MSSP customer company name"
                        },
                        {
                            "name": "AlarmMainType",
                            "type": "string",
                            "description": "Main alarm category"
                        },
                        {
                            "name": "AlarmSubType",
                            "type": "string",
                            "description": "Alarm sub-category"
                        },
                        {
                            "name": "Severity",
                            "type": "string",
                            "description": "CRITICAL/HIGH/MEDIUM/LOW/INFO"
                        },
                        {
                            "name": "Status",
                            "type": "string",
                            "description": "Alarm status"
                        },
                        {
                            "name": "Title",
                            "type": "string",
                            "description": "Alarm title"
                        },
                        {
                            "name": "AlarmText",
                            "type": "string",
                            "description": "Alarm description (truncated to 4000 chars)"
                        },
                        {
                            "name": "AlarmDate",
                            "type": "string",
                            "description": "Original alarm date from SOCRadar"
                        },
                        {
                            "name": "AlarmPayload",
                            "type": "dynamic",
                            "description": "Full SOCRadar alarm JSON"
                        }
                    ]
                },
                "retentionInDays": "[parameters('TableRetentionDays')]",
                "plan": "Analytics"
            }
        },
        {
            "condition": "[parameters('EnableAlarmsTable')]",
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2023-03-11",
            "name": "[variables('AlarmsDcrName')]",
            "location": "[parameters('WorkspaceLocation')]",
            "dependsOn": [
                "[resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('DceName'))]",
                "[resourceId('Microsoft.OperationalInsights/workspaces/tables', parameters('WorkspaceName'), variables('AlarmsTableName'))]"
            ],
            "properties": {
                "description": "DCR for SOCRadar MSSP alarms ingestion",
                "dataCollectionEndpointId": "[resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('DceName'))]",
                "streamDeclarations": {
                    "[variables('AlarmsStreamName')]": {
                        "columns": [
                            {
                                "name": "TimeGenerated",
                                "type": "datetime"
                            },
                            {
                                "name": "AlarmId",
                                "type": "string"
                            },
                            {
                                "name": "CompanyId",
                                "type": "string"
                            },
                            {
                                "name": "CompanyName",
                                "type": "string"
                            },
                            {
                                "name": "AlarmMainType",
                                "type": "string"
                            },
                            {
                                "name": "AlarmSubType",
                                "type": "string"
                            },
                            {
                                "name": "Severity",
                                "type": "string"
                            },
                            {
                                "name": "Status",
                                "type": "string"
                            },
                            {
                                "name": "Title",
                                "type": "string"
                            },
                            {
                                "name": "AlarmText",
                                "type": "string"
                            },
                            {
                                "name": "AlarmDate",
                                "type": "string"
                            },
                            {
                                "name": "AlarmPayload",
                                "type": "dynamic"
                            }
                        ]
                    }
                },
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[variables('workspaceResourceId')]",
                            "name": "workspace"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [
                            "[variables('AlarmsStreamName')]"
                        ],
                        "destinations": [
                            "workspace"
                        ],
                        "transformKql": "source",
                        "outputStream": "[variables('AlarmsStreamName')]"
                    }
                ]
            }
        },
        {
            "condition": "[and(parameters('EnableWorkbook'), parameters('EnableAlarmsTable'))]",
            "type": "Microsoft.Insights/workbooks",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceGroup().id, 'SOCRadar-MSSP-Workbook')]",
            "location": "[parameters('WorkspaceLocation')]",
            "kind": "shared",
            "properties": {
                "displayName": "SOCRadar MSSP Dashboard",
                "serializedData": "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":{\"json\":\"# SOCRadar MSSP Dashboard\\n\\nMulti-tenant alarm monitoring across all managed companies.\"},\"name\":\"header\"},{\"type\":9,\"content\":{\"version\":\"KqlParameterItem/1.0\",\"parameters\":[{\"id\":\"company-filter\",\"version\":\"KqlParameterItem/1.0\",\"name\":\"CompanyFilter\",\"type\":2,\"isRequired\":true,\"query\":\"SOCRadar_Alarms_CL | distinct CompanyName | sort by CompanyName asc\",\"typeSettings\":{\"additionalResourceOptions\":[\"value::all\"],\"showDefault\":false},\"defaultValue\":\"value::all\",\"label\":\"Company\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"}]},\"name\":\"parameters\"},{\"type\":1,\"content\":{\"json\":\"## Overview\"},\"name\":\"overview-header\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadar_Alarms_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | summarize Count=count()\",\"size\":4,\"title\":\"Total Alarms\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"total-alarms\",\"customWidth\":\"25\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadar_Alarms_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | summarize Count=dcount(CompanyName)\",\"size\":4,\"title\":\"Active Companies\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"active-companies\",\"customWidth\":\"25\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadar_Alarms_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | where Severity in ('CRITICAL','HIGH') | summarize Count=count()\",\"size\":4,\"title\":\"Critical + High\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"critical-high\",\"customWidth\":\"25\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadar_Alarms_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | where TimeGenerated > ago(24h) | summarize Count=count()\",\"size\":4,\"title\":\"Last 24 Hours\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"last-24h\",\"customWidth\":\"25\"},{\"type\":1,\"content\":{\"json\":\"## Company Breakdown\"},\"name\":\"company-header\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadar_Alarms_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | summarize Count=count() by CompanyName | render barchart\",\"size\":1,\"title\":\"Alarms by Company\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"company-chart\",\"customWidth\":\"50\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadar_Alarms_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | summarize Count=count() by CompanyName, Severity | render barchart\",\"size\":1,\"title\":\"Severity by Company\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"severity-company-chart\",\"customWidth\":\"50\"},{\"type\":1,\"content\":{\"json\":\"## Alarm Analysis\"},\"name\":\"analysis-header\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadar_Alarms_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | summarize Count=count() by Severity | render piechart\",\"size\":1,\"title\":\"Alarms by Severity\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"severity-chart\",\"customWidth\":\"50\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadar_Alarms_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | summarize Count=count() by Status | render piechart\",\"size\":1,\"title\":\"Alarms by Status\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"status-chart\",\"customWidth\":\"50\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadar_Alarms_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | summarize Count=count() by bin(TimeGenerated, 1h) | render timechart\",\"size\":1,\"title\":\"Alarms Over Time (Hourly)\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"timeline\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadar_Alarms_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | summarize Count=count() by AlarmMainType | top 10 by Count | render barchart\",\"size\":1,\"title\":\"Top 10 Alarm Types\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"types-chart\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadar_Alarms_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | project TimeGenerated, CompanyName, AlarmId, Severity, AlarmMainType, AlarmSubType, Title, Status | order by TimeGenerated desc | take 50\",\"size\":1,\"title\":\"Recent Alarms (Last 50)\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"recent-alarms\"},{\"type\":1,\"content\":{\"json\":\"---\\n## Audit Logs\\nOperations monitoring (if audit logging is enabled).\"},\"name\":\"audit-header\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadarAuditLog_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | summarize Count=count() by EventType | render piechart\",\"size\":1,\"title\":\"Audit Events by Type\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"audit-chart\",\"customWidth\":\"50\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"SOCRadarAuditLog_CL | where '{CompanyFilter}' == '{value::all}' or CompanyName == '{CompanyFilter}' | project TimeGenerated, EventType, CompanyName, AlarmId, Message | order by TimeGenerated desc | take 20\",\"size\":1,\"title\":\"Recent Audit Events\",\"timeContext\":{\"durationMs\":604800000},\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"audit-table\",\"customWidth\":\"50\"}],\"isLocked\":false}",
                "version": "1.0",
                "sourceId": "[variables('workspaceResourceId')]",
                "category": "sentinel"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('SentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('SentinelConnectionName')]",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
                },
                "parameterValueType": "Alternative"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[variables('ImportPlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName'))]",
                "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AlarmsDcrName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "SocradarApiKey": {
                            "type": "SecureString"
                        },
                        "CompanyIds": {
                            "type": "String"
                        },
                        "CompanyNames": {
                            "type": "String"
                        },
                        "WorkspaceName": {
                            "type": "String"
                        },
                        "PollingIntervalMinutes": {
                            "type": "Int"
                        },
                        "InitialLookbackMinutes": {
                            "type": "Int"
                        },
                        "ImportAllStatuses": {
                            "type": "Bool",
                            "defaultValue": false
                        },
                        "EnableAuditLogging": {
                            "type": "Bool",
                            "defaultValue": false
                        },
                        "AuditDcrEndpoint": {
                            "type": "String",
                            "defaultValue": ""
                        },
                        "AuditDcrImmutableId": {
                            "type": "String",
                            "defaultValue": ""
                        },
                        "AuditStreamName": {
                            "type": "String",
                            "defaultValue": "Custom-SOCRadarAuditLog_CL"
                        },
                        "EnableAlarmsTable": {
                            "type": "Bool",
                            "defaultValue": false
                        },
                        "DceEndpoint": {
                            "type": "String",
                            "defaultValue": ""
                        },
                        "AlarmsDcrImmutableId": {
                            "type": "String",
                            "defaultValue": ""
                        },
                        "AlarmsStreamName": {
                            "type": "String",
                            "defaultValue": "Custom-SOCRadar_Alarms_CL"
                        },
                        "SubscriptionId": {
                            "type": "String"
                        },
                        "ResourceGroupName": {
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "type": "Recurrence",
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": "[parameters('PollingIntervalMinutes')]",
                                "startTime": "[parameters('_triggerStartTime')]"
                            },
                            "operationOptions": "SingleInstance"
                        }
                    },
                    "actions": {
                        "Build_Company_Array": {
                            "type": "Select",
                            "inputs": {
                                "from": "@range(0, length(split(parameters('CompanyIds'), ',')))",
                                "select": {
                                    "CompanyId": "@trim(split(parameters('CompanyIds'), ',')[item()])",
                                    "CompanyName": "@trim(split(parameters('CompanyNames'), ',')[item()])"
                                }
                            },
                            "runAfter": {}
                        },
                        "Query_Existing_MSSP_Incidents": {
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents?api-version=2023-11-01&$top=1&$filter=startswith(properties/title, ''[MSSP-'')')]",
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "retryPolicy": {
                                    "type": "exponential",
                                    "count": 4,
                                    "interval": "PT10S",
                                    "maximumInterval": "PT1H"
                                }
                            },
                            "runAfter": {
                                "Build_Company_Array": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Determine_Lookback": {
                            "type": "Compose",
                            "inputs": "@if(equals(length(coalesce(body('Query_Existing_MSSP_Incidents')?['value'], json('[]'))), 0), parameters('InitialLookbackMinutes'), mul(parameters('PollingIntervalMinutes'), 2))",
                            "runAfter": {
                                "Query_Existing_MSSP_Incidents": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Calculate_Epoch_Start": {
                            "type": "Compose",
                            "inputs": "@div(sub(ticks(addMinutes(utcNow(), mul(-1, outputs('Determine_Lookback')))), 621355968000000000), 10000000)",
                            "runAfter": {
                                "Determine_Lookback": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Initialize_Page": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "page",
                                        "type": "integer",
                                        "value": 1
                                    }
                                ]
                            },
                            "runAfter": {
                                "Calculate_Epoch_Start": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Initialize_Total_Pages": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "total_pages",
                                        "type": "integer",
                                        "value": 1
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_Page": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Initialize_All_Alarms": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "all_alarms",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_Total_Pages": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Initialize_Existing_Incidents": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "existing_incidents",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_All_Alarms": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Initialize_Incidents_NextLink": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "incidents_next_link",
                                        "type": "string",
                                        "value": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents?api-version=2023-11-01&$top=1000&$filter=startswith(properties/title, ''[MSSP-'')')]"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_Existing_Incidents": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Pagination_Loop_Incidents": {
                            "type": "Until",
                            "expression": "@equals(variables('incidents_next_link'), '')",
                            "limit": {
                                "count": 100,
                                "timeout": "PT1H"
                            },
                            "actions": {
                                "Query_Incidents_Page": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "@variables('incidents_next_link')",
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "retryPolicy": {
                                            "type": "exponential",
                                            "count": 4,
                                            "interval": "PT10S",
                                            "maximumInterval": "PT1H"
                                        }
                                    },
                                    "runAfter": {}
                                },
                                "Compose_New_Incidents": {
                                    "type": "Compose",
                                    "inputs": "@union(variables('existing_incidents'), coalesce(body('Query_Incidents_Page')?['value'], json('[]')))",
                                    "runAfter": {
                                        "Query_Incidents_Page": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Set_Existing_Incidents": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "existing_incidents",
                                        "value": "@outputs('Compose_New_Incidents')"
                                    },
                                    "runAfter": {
                                        "Compose_New_Incidents": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Set_Incidents_NextLink": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "incidents_next_link",
                                        "value": "@coalesce(body('Query_Incidents_Page')?['nextLink'], '')"
                                    },
                                    "runAfter": {
                                        "Set_Existing_Incidents": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_Incidents_NextLink": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Extract_Existing_IDs": {
                            "type": "Select",
                            "inputs": {
                                "from": "@variables('existing_incidents')",
                                "select": "@concat(split(split(coalesce(item()?['properties']?['title'], ''), '[MSSP-')[1], ']')[0], ':', split(split(coalesce(item()?['properties']?['title'], ''), '#')[1], ' ')[0])"
                            },
                            "runAfter": {
                                "Pagination_Loop_Incidents": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "For_Each_Company": {
                            "type": "Foreach",
                            "foreach": "@body('Build_Company_Array')",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            },
                            "actions": {
                                "Scope_Try_Company": {
                                    "type": "Scope",
                                    "actions": {
                                        "Reset_Page": {
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "page",
                                                "value": 1
                                            },
                                            "runAfter": {}
                                        },
                                        "Reset_Total_Pages": {
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "total_pages",
                                                "value": 1
                                            },
                                            "runAfter": {
                                                "Reset_Page": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Reset_All_Alarms": {
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "all_alarms",
                                                "value": []
                                            },
                                            "runAfter": {
                                                "Reset_Total_Pages": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Company_Pagination_Loop": {
                                            "type": "Until",
                                            "expression": "@greater(variables('page'), variables('total_pages'))",
                                            "limit": {
                                                "count": 1000,
                                                "timeout": "PT1H"
                                            },
                                            "actions": {
                                                "Get_SOCRadar_Page": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "method": "GET",
                                                        "uri": "https://platform.socradar.com/api/company/@{items('For_Each_Company')?['CompanyId']}/incidents/v4",
                                                        "headers": {
                                                            "API-Key": "@{parameters('SocradarApiKey')}"
                                                        },
                                                        "queries": {
                                                            "page": "@{variables('page')}",
                                                            "limit": "100",
                                                            "start_date": "@{outputs('Calculate_Epoch_Start')}",
                                                            "include_total_records": "true"
                                                        },
                                                        "retryPolicy": {
                                                            "type": "exponential",
                                                            "count": 4,
                                                            "interval": "PT10S",
                                                            "maximumInterval": "PT1H"
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "secureData": {
                                                            "properties": [
                                                                "inputs"
                                                            ]
                                                        }
                                                    },
                                                    "runAfter": {}
                                                },
                                                "Parse_Page_Response": {
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('Get_SOCRadar_Page')",
                                                        "schema": {
                                                            "type": "object",
                                                            "properties": {
                                                                "data": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "alarms": {
                                                                            "type": "array"
                                                                        },
                                                                        "total_pages": {
                                                                            "type": "integer"
                                                                        },
                                                                        "total_records": {
                                                                            "type": "integer"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Get_SOCRadar_Page": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "Set_Total_Pages": {
                                                    "type": "If",
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@variables('page')",
                                                                    1
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "actions": {
                                                        "Update_Total_Pages": {
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "total_pages",
                                                                "value": "@coalesce(body('Parse_Page_Response')?['data']?['total_pages'], 1)"
                                                            },
                                                            "runAfter": {}
                                                        }
                                                    },
                                                    "else": {
                                                        "actions": {}
                                                    },
                                                    "runAfter": {
                                                        "Parse_Page_Response": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "Append_Alarms": {
                                                    "type": "Compose",
                                                    "inputs": "@union(variables('all_alarms'), coalesce(body('Parse_Page_Response')?['data']?['alarms'], json('[]')))",
                                                    "runAfter": {
                                                        "Set_Total_Pages": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "Update_All_Alarms": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "all_alarms",
                                                        "value": "@outputs('Append_Alarms')"
                                                    },
                                                    "runAfter": {
                                                        "Append_Alarms": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "Increment_Page": {
                                                    "type": "IncrementVariable",
                                                    "inputs": {
                                                        "name": "page",
                                                        "value": 1
                                                    },
                                                    "runAfter": {
                                                        "Update_All_Alarms": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Reset_All_Alarms": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "For_Each_Alarm": {
                                            "type": "Foreach",
                                            "foreach": "@variables('all_alarms')",
                                            "runtimeConfiguration": {
                                                "concurrency": {
                                                    "repetitions": 5
                                                }
                                            },
                                            "actions": {
                                                "Check_If_Should_Import": {
                                                    "type": "If",
                                                    "expression": {
                                                        "or": [
                                                            {
                                                                "equals": [
                                                                    "@parameters('ImportAllStatuses')",
                                                                    true
                                                                ]
                                                            },
                                                            {
                                                                "equals": [
                                                                    "@coalesce(items('For_Each_Alarm')?['status'], 'OPEN')",
                                                                    "OPEN"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "actions": {
                                                        "Check_If_Already_Exists": {
                                                            "type": "If",
                                                            "expression": {
                                                                "and": [
                                                                    {
                                                                        "contains": [
                                                                            "@body('Extract_Existing_IDs')",
                                                                            "@concat(items('For_Each_Company')?['CompanyName'], ':', string(items('For_Each_Alarm')?['alarm_id']))"
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            "actions": {},
                                                            "else": {
                                                                "actions": {
                                                                    "Map_Severity": {
                                                                        "type": "Compose",
                                                                        "inputs": "@if(or(equals(items('For_Each_Alarm')?['alarm_risk_level'], 'CRITICAL'), equals(items('For_Each_Alarm')?['alarm_risk_level'], 'HIGH')), 'High', if(equals(items('For_Each_Alarm')?['alarm_risk_level'], 'MEDIUM'), 'Medium', 'Low'))",
                                                                        "runAfter": {}
                                                                    },
                                                                    "Build_Tags": {
                                                                        "type": "Compose",
                                                                        "inputs": "@json(concat('[{\"Tag\": \"SOCRadar\"}, {\"Tag\": \"MSSP-', items('For_Each_Company')?['CompanyName'], '\"}', if(not(or(empty(coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], '')), equals(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], null))), concat(', {\"Tag\": \"', if(greater(length(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type']), 100), concat(substring(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], 0, 97), '...'), items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type']), '\"}'), ''), if(not(or(empty(coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], '')), equals(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], null))), concat(', {\"Tag\": \"', if(greater(length(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type']), 100), concat(substring(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], 0, 97), '...'), items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type']), '\"}'), ''), ']'))",
                                                                        "runAfter": {
                                                                            "Map_Severity": [
                                                                                "Succeeded"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "Check_If_Open_Status": {
                                                                        "type": "If",
                                                                        "expression": {
                                                                            "and": [
                                                                                {
                                                                                    "equals": [
                                                                                        "@coalesce(items('For_Each_Alarm')?['status'], 'OPEN')",
                                                                                        "OPEN"
                                                                                    ]
                                                                                }
                                                                            ]
                                                                        },
                                                                        "actions": {
                                                                            "Create_New_Incident": {
                                                                                "type": "ApiConnection",
                                                                                "inputs": {
                                                                                    "host": {
                                                                                        "connection": {
                                                                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                                        }
                                                                                    },
                                                                                    "method": "put",
                                                                                    "path": "[concat('/Incidents/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/workspaces/', parameters('WorkspaceName'))]",
                                                                                    "body": {
                                                                                        "title": "[MSSP-@{items('For_Each_Company')?['CompanyName']}] #@{items('For_Each_Alarm')?['alarm_id']} - @{if(greater(length(coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_generic_title'], '')), 200), concat(substring(items('For_Each_Alarm')?['alarm_type_details']?['alarm_generic_title'], 0, 197), '...'), coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_generic_title'], 'N/A'))}",
                                                                                        "description": "@{concat('SOCRadar MSSP Alarm', decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Company: ', items('For_Each_Company')?['CompanyName'], ' (ID: ', items('For_Each_Company')?['CompanyId'], ')', decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Alarm ID: ', string(items('For_Each_Alarm')?['alarm_id']), decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Main Type: ', coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], 'N/A'), decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Sub Type: ', coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], 'N/A'), decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Severity: ', items('For_Each_Alarm')?['alarm_risk_level'], decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Status: ', coalesce(items('For_Each_Alarm')?['status'], 'OPEN'), decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Created: ', items('For_Each_Alarm')?['date'], decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Details:', decodeUriComponent('%0A'), if(greater(length(coalesce(items('For_Each_Alarm')?['alarm_text'], '')), 1500), concat(substring(items('For_Each_Alarm')?['alarm_text'], 0, 1500), '...'), coalesce(items('For_Each_Alarm')?['alarm_text'], 'No details')), decodeUriComponent('%0A'), decodeUriComponent('%0A'), if(not(empty(items('For_Each_Alarm')?['content'])), concat('Content:', decodeUriComponent('%0A'), replace(replace(replace(replace(if(greater(length(string(items('For_Each_Alarm')?['content'])), 2000), concat(substring(string(items('For_Each_Alarm')?['content']), 0, 2000), '... [truncated]'), string(items('For_Each_Alarm')?['content'])), '\"', ''), '{', ''), '}', ''), ',', ' -*- '), decodeUriComponent('%0A'), decodeUriComponent('%0A')), ''), 'View in SOCRadar: https://platform.socradar.com/company/', items('For_Each_Company')?['CompanyId'], '/alarm/', items('For_Each_Alarm')?['alarm_id'])}",
                                                                                        "severity": "@{outputs('Map_Severity')}",
                                                                                        "status": "New",
                                                                                        "providerName": "SOCRadar",
                                                                                        "providerIncidentId": "@{items('For_Each_Alarm')?['alarm_id']}",
                                                                                        "tagsToAdd": {
                                                                                            "TagsToAdd": "@outputs('Build_Tags')"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "runAfter": {}
                                                                            }
                                                                        },
                                                                        "else": {
                                                                            "actions": {
                                                                                "Map_Classification": {
                                                                                    "type": "Compose",
                                                                                    "inputs": "@if(equals(items('For_Each_Alarm')?['status'], 'FALSE_POSITIVE'), 'FalsePositive', if(equals(items('For_Each_Alarm')?['status'], 'MITIGATED'), 'BenignPositive', if(equals(items('For_Each_Alarm')?['status'], 'RESOLVED'), 'TruePositive', 'Undetermined')))",
                                                                                    "runAfter": {}
                                                                                },
                                                                                "Map_ClassificationReason": {
                                                                                    "type": "Compose",
                                                                                    "inputs": "@if(equals(outputs('Map_Classification'), 'FalsePositive'), 'InaccurateData', if(equals(outputs('Map_Classification'), 'BenignPositive'), 'SuspiciousButExpected', 'SuspiciousActivity'))",
                                                                                    "runAfter": {
                                                                                        "Map_Classification": [
                                                                                            "Succeeded"
                                                                                        ]
                                                                                    }
                                                                                },
                                                                                "Build_Labels": {
                                                                                    "type": "Compose",
                                                                                    "inputs": "@json(concat('[{\"labelName\": \"SOCRadar\", \"labelType\": \"User\"}, {\"labelName\": \"MSSP-', items('For_Each_Company')?['CompanyName'], '\", \"labelType\": \"User\"}', if(not(or(empty(coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], '')), equals(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], null))), concat(', {\"labelName\": \"', replace(coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], ''), '\"', ''), '\", \"labelType\": \"User\"}'), ''), if(not(or(empty(coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], '')), equals(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], null))), concat(', {\"labelName\": \"', replace(coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], ''), '\"', ''), '\", \"labelType\": \"User\"}'), ''), ']'))",
                                                                                    "runAfter": {
                                                                                        "Map_ClassificationReason": [
                                                                                            "Succeeded"
                                                                                        ]
                                                                                    }
                                                                                },
                                                                                "Build_Base_Properties": {
                                                                                    "type": "Compose",
                                                                                    "inputs": {
                                                                                        "title": "[MSSP-@{items('For_Each_Company')?['CompanyName']}] #@{items('For_Each_Alarm')?['alarm_id']} - @{if(greater(length(coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_generic_title'], '')), 200), concat(substring(items('For_Each_Alarm')?['alarm_type_details']?['alarm_generic_title'], 0, 197), '...'), coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_generic_title'], 'N/A'))}",
                                                                                        "description": "@{concat('SOCRadar MSSP Alarm - Company: ', items('For_Each_Company')?['CompanyName'], ' - Status: ', items('For_Each_Alarm')?['status'], ' - Alarm ID: ', string(items('For_Each_Alarm')?['alarm_id']))}",
                                                                                        "severity": "@{outputs('Map_Severity')}",
                                                                                        "status": "Closed",
                                                                                        "classification": "@{outputs('Map_Classification')}",
                                                                                        "labels": "@outputs('Build_Labels')"
                                                                                    },
                                                                                    "runAfter": {
                                                                                        "Build_Labels": [
                                                                                            "Succeeded"
                                                                                        ]
                                                                                    }
                                                                                },
                                                                                "Add_ClassificationReason_If_Needed": {
                                                                                    "type": "Compose",
                                                                                    "inputs": "@if(equals(outputs('Map_Classification'), 'Undetermined'), outputs('Build_Base_Properties'), setProperty(outputs('Build_Base_Properties'), 'classificationReason', outputs('Map_ClassificationReason')))",
                                                                                    "runAfter": {
                                                                                        "Build_Base_Properties": [
                                                                                            "Succeeded"
                                                                                        ]
                                                                                    }
                                                                                },
                                                                                "Create_Closed_Incident": {
                                                                                    "type": "Http",
                                                                                    "inputs": {
                                                                                        "method": "PUT",
                                                                                        "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('WorkspaceName')}/providers/Microsoft.SecurityInsights/incidents/@{guid()}?api-version=2023-11-01",
                                                                                        "headers": {
                                                                                            "Content-Type": "application/json"
                                                                                        },
                                                                                        "authentication": {
                                                                                            "type": "ManagedServiceIdentity",
                                                                                            "audience": "https://management.azure.com"
                                                                                        },
                                                                                        "body": {
                                                                                            "properties": "@outputs('Add_ClassificationReason_If_Needed')"
                                                                                        }
                                                                                    },
                                                                                    "runAfter": {
                                                                                        "Add_ClassificationReason_If_Needed": [
                                                                                            "Succeeded"
                                                                                        ]
                                                                                    }
                                                                                }
                                                                            }
                                                                        },
                                                                        "runAfter": {
                                                                            "Build_Tags": [
                                                                                "Succeeded"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "Check_Audit_Enabled": {
                                                                        "type": "If",
                                                                        "runAfter": {
                                                                            "Check_If_Open_Status": [
                                                                                "Succeeded",
                                                                                "Failed"
                                                                            ]
                                                                        },
                                                                        "expression": {
                                                                            "and": [
                                                                                {
                                                                                    "equals": [
                                                                                        "@parameters('EnableAuditLogging')",
                                                                                        true
                                                                                    ]
                                                                                }
                                                                            ]
                                                                        },
                                                                        "actions": {
                                                                            "Log_Audit_Event": {
                                                                                "type": "Http",
                                                                                "inputs": {
                                                                                    "method": "POST",
                                                                                    "uri": "@{concat(parameters('AuditDcrEndpoint'), '/dataCollectionRules/', parameters('AuditDcrImmutableId'), '/streams/', parameters('AuditStreamName'), '?api-version=2023-01-01')}",
                                                                                    "headers": {
                                                                                        "Content-Type": "application/json"
                                                                                    },
                                                                                    "authentication": {
                                                                                        "type": "ManagedServiceIdentity",
                                                                                        "audience": "https://monitor.azure.com"
                                                                                    },
                                                                                    "body": [
                                                                                        {
                                                                                            "TimeGenerated": "@{utcNow()}",
                                                                                            "EventType": "@{if(equals(actions('Check_If_Open_Status')['status'], 'Succeeded'), 'AlarmImported', 'ImportError')}",
                                                                                            "AlarmId": "@{items('For_Each_Alarm')?['alarm_id']}",
                                                                                            "IncidentId": "@{items('For_Each_Alarm')?['alarm_id']}",
                                                                                            "AlarmType": "@{coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], 'N/A')}",
                                                                                            "Status": "@{items('For_Each_Alarm')?['status']}",
                                                                                            "Severity": "@{items('For_Each_Alarm')?['alarm_risk_level']}",
                                                                                            "Message": "@{if(equals(actions('Check_If_Open_Status')['status'], 'Succeeded'), concat('Alarm imported for company ', items('For_Each_Company')?['CompanyName']), concat('Import failed for alarm ', string(items('For_Each_Alarm')?['alarm_id']), ' - company ', items('For_Each_Company')?['CompanyName']))}",
                                                                                            "FullAlarmJson": "@items('For_Each_Alarm')",
                                                                                            "CompanyId": "@{items('For_Each_Company')?['CompanyId']}",
                                                                                            "CompanyName": "@{items('For_Each_Company')?['CompanyName']}"
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                "runAfter": {}
                                                                            }
                                                                        },
                                                                        "else": {
                                                                            "actions": {}
                                                                        }
                                                                    },
                                                                    "Check_Alarms_Table_Enabled": {
                                                                        "type": "If",
                                                                        "runAfter": {
                                                                            "Check_Audit_Enabled": [
                                                                                "Succeeded",
                                                                                "Failed"
                                                                            ]
                                                                        },
                                                                        "expression": {
                                                                            "and": [
                                                                                {
                                                                                    "equals": [
                                                                                        "@parameters('EnableAlarmsTable')",
                                                                                        true
                                                                                    ]
                                                                                }
                                                                            ]
                                                                        },
                                                                        "actions": {
                                                                            "Ingest_To_Custom_Table": {
                                                                                "type": "Http",
                                                                                "inputs": {
                                                                                    "method": "POST",
                                                                                    "uri": "@{concat(parameters('DceEndpoint'), '/dataCollectionRules/', parameters('AlarmsDcrImmutableId'), '/streams/', parameters('AlarmsStreamName'), '?api-version=2023-01-01')}",
                                                                                    "headers": {
                                                                                        "Content-Type": "application/json"
                                                                                    },
                                                                                    "authentication": {
                                                                                        "type": "ManagedServiceIdentity",
                                                                                        "audience": "https://monitor.azure.com"
                                                                                    },
                                                                                    "body": [
                                                                                        {
                                                                                            "TimeGenerated": "@{utcNow()}",
                                                                                            "AlarmId": "@{string(items('For_Each_Alarm')?['alarm_id'])}",
                                                                                            "CompanyId": "@{items('For_Each_Company')?['CompanyId']}",
                                                                                            "CompanyName": "@{items('For_Each_Company')?['CompanyName']}",
                                                                                            "AlarmMainType": "@{coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], 'Unknown')}",
                                                                                            "AlarmSubType": "@{coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], 'Unknown')}",
                                                                                            "Severity": "@{coalesce(items('For_Each_Alarm')?['alarm_risk_level'], 'MEDIUM')}",
                                                                                            "Status": "@{coalesce(items('For_Each_Alarm')?['status'], 'OPEN')}",
                                                                                            "Title": "@{coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_generic_title'], 'SOCRadar Alarm')}",
                                                                                            "AlarmText": "@{take(coalesce(items('For_Each_Alarm')?['alarm_text'], ''), 4000)}",
                                                                                            "AlarmDate": "@{items('For_Each_Alarm')?['date']}",
                                                                                            "AlarmPayload": "@items('For_Each_Alarm')"
                                                                                        }
                                                                                    ],
                                                                                    "retryPolicy": {
                                                                                        "type": "exponential",
                                                                                        "count": 3,
                                                                                        "interval": "PT10S",
                                                                                        "maximumInterval": "PT1M"
                                                                                    }
                                                                                },
                                                                                "runAfter": {}
                                                                            }
                                                                        },
                                                                        "else": {
                                                                            "actions": {}
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {}
                                                        }
                                                    },
                                                    "else": {
                                                        "actions": {}
                                                    },
                                                    "runAfter": {}
                                                }
                                            },
                                            "runAfter": {
                                                "Company_Pagination_Loop": [
                                                    "Succeeded"
                                                ]
                                            }
                                        }
                                    },
                                    "runAfter": {}
                                },
                                "Scope_Catch_Company": {
                                    "type": "Scope",
                                    "actions": {
                                        "Check_Catch_Audit": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@parameters('EnableAuditLogging')",
                                                            true
                                                        ]
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "Log_Company_Error": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "method": "POST",
                                                        "uri": "@{concat(parameters('AuditDcrEndpoint'), '/dataCollectionRules/', parameters('AuditDcrImmutableId'), '/streams/', parameters('AuditStreamName'), '?api-version=2023-01-01')}",
                                                        "headers": {
                                                            "Content-Type": "application/json"
                                                        },
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "https://monitor.azure.com"
                                                        },
                                                        "body": [
                                                            {
                                                                "TimeGenerated": "@{utcNow()}",
                                                                "EventType": "CompanyImportFailed",
                                                                "AlarmId": "",
                                                                "IncidentId": "",
                                                                "AlarmType": "",
                                                                "Status": "Failed",
                                                                "Severity": "High",
                                                                "Message": "@{concat('Company import failed: ', items('For_Each_Company')?['CompanyName'], ' (ID: ', items('For_Each_Company')?['CompanyId'], ')')}",
                                                                "FullAlarmJson": "",
                                                                "CompanyId": "@{items('For_Each_Company')?['CompanyId']}",
                                                                "CompanyName": "@{items('For_Each_Company')?['CompanyName']}"
                                                            }
                                                        ]
                                                    },
                                                    "runAfter": {}
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            },
                                            "runAfter": {}
                                        }
                                    },
                                    "runAfter": {
                                        "Scope_Try_Company": [
                                            "Failed",
                                            "Skipped",
                                            "TimedOut"
                                        ]
                                    }
                                }
                            },
                            "runAfter": {
                                "Extract_Existing_IDs": [
                                    "Succeeded"
                                ]
                            }
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                                "connectionName": "[variables('SentinelConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
                            }
                        }
                    },
                    "SocradarApiKey": {
                        "value": "[parameters('SocradarApiKey')]"
                    },
                    "CompanyIds": {
                        "value": "[parameters('CompanyIds')]"
                    },
                    "CompanyNames": {
                        "value": "[parameters('CompanyNames')]"
                    },
                    "WorkspaceName": {
                        "value": "[parameters('WorkspaceName')]"
                    },
                    "PollingIntervalMinutes": {
                        "value": "[parameters('PollingIntervalMinutes')]"
                    },
                    "InitialLookbackMinutes": {
                        "value": "[parameters('InitialLookbackMinutes')]"
                    },
                    "ImportAllStatuses": {
                        "value": "[parameters('ImportAllStatuses')]"
                    },
                    "EnableAuditLogging": {
                        "value": "[parameters('EnableAuditLogging')]"
                    },
                    "AuditDcrEndpoint": {
                        "value": "[if(parameters('EnableAuditLogging'), reference(resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName')), '2023-03-11').endpoints.logsIngestion, '')]"
                    },
                    "AuditDcrImmutableId": {
                        "value": "[if(parameters('EnableAuditLogging'), reference(resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName')), '2023-03-11').immutableId, '')]"
                    },
                    "AuditStreamName": {
                        "value": "[variables('AuditStreamName')]"
                    },
                    "EnableAlarmsTable": {
                        "value": "[parameters('EnableAlarmsTable')]"
                    },
                    "DceEndpoint": {
                        "value": "[if(parameters('EnableAlarmsTable'), reference(resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('DceName')), '2023-03-11').logsIngestion.endpoint, '')]"
                    },
                    "AlarmsDcrImmutableId": {
                        "value": "[if(parameters('EnableAlarmsTable'), reference(resourceId('Microsoft.Insights/dataCollectionRules', variables('AlarmsDcrName')), '2023-03-11').immutableId, '')]"
                    },
                    "AlarmsStreamName": {
                        "value": "[variables('AlarmsStreamName')]"
                    },
                    "SubscriptionId": {
                        "value": "[subscription().subscriptionId]"
                    },
                    "ResourceGroupName": {
                        "value": "[resourceGroup().name]"
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[variables('SyncPlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "SocradarApiKey": {
                            "type": "SecureString"
                        },
                        "CompanyIds": {
                            "type": "String"
                        },
                        "CompanyNames": {
                            "type": "String"
                        },
                        "WorkspaceName": {
                            "type": "String"
                        },
                        "PollingIntervalMinutes": {
                            "type": "Int"
                        },
                        "EnableAuditLogging": {
                            "type": "Bool",
                            "defaultValue": false
                        },
                        "AuditDcrEndpoint": {
                            "type": "String",
                            "defaultValue": ""
                        },
                        "AuditDcrImmutableId": {
                            "type": "String",
                            "defaultValue": ""
                        },
                        "AuditStreamName": {
                            "type": "String",
                            "defaultValue": "Custom-SOCRadarAuditLog_CL"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "type": "Recurrence",
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": "[parameters('PollingIntervalMinutes')]",
                                "startTime": "[parameters('_triggerStartTime')]"
                            },
                            "operationOptions": "SingleInstance"
                        }
                    },
                    "actions": {
                        "Build_Company_Array": {
                            "type": "Select",
                            "inputs": {
                                "from": "@range(0, length(split(parameters('CompanyIds'), ',')))",
                                "select": {
                                    "CompanyId": "@trim(split(parameters('CompanyIds'), ',')[item()])",
                                    "CompanyName": "@trim(split(parameters('CompanyNames'), ',')[item()])"
                                }
                            },
                            "runAfter": {}
                        },
                        "Calculate_Lookback_Time": {
                            "type": "Compose",
                            "inputs": "@addMinutes(utcNow(), mul(-2, parameters('PollingIntervalMinutes')))",
                            "runAfter": {
                                "Build_Company_Array": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Initialize_Closed_Incidents": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "closed_incidents",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {
                                "Calculate_Lookback_Time": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Initialize_Closed_NextLink": {
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "closed_next_link",
                                        "type": "string",
                                        "value": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents?api-version=2023-11-01&$top=1000&$filter=properties/labels/any(label: label/labelName eq ''SOCRadar'') and properties/status eq ''Closed'' and properties/lastModifiedTimeUtc ge @{outputs(''Calculate_Lookback_Time'')} and startswith(properties/title, ''[MSSP-'')')]"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_Closed_Incidents": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Pagination_Loop_Closed": {
                            "type": "Until",
                            "expression": "@equals(variables('closed_next_link'), '')",
                            "limit": {
                                "count": 100,
                                "timeout": "PT1H"
                            },
                            "actions": {
                                "Query_Closed_Page": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "@variables('closed_next_link')",
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "retryPolicy": {
                                            "type": "exponential",
                                            "count": 4,
                                            "interval": "PT10S",
                                            "maximumInterval": "PT1H"
                                        }
                                    },
                                    "runAfter": {}
                                },
                                "Compose_New_Closed": {
                                    "type": "Compose",
                                    "inputs": "@union(variables('closed_incidents'), coalesce(body('Query_Closed_Page')?['value'], json('[]')))",
                                    "runAfter": {
                                        "Query_Closed_Page": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Set_Closed_Incidents": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "closed_incidents",
                                        "value": "@outputs('Compose_New_Closed')"
                                    },
                                    "runAfter": {
                                        "Compose_New_Closed": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Set_Closed_NextLink": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "closed_next_link",
                                        "value": "@coalesce(body('Query_Closed_Page')?['nextLink'], '')"
                                    },
                                    "runAfter": {
                                        "Set_Closed_Incidents": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_Closed_NextLink": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "For_Each_Incident": {
                            "type": "Foreach",
                            "foreach": "@variables('closed_incidents')",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 5
                                }
                            },
                            "actions": {
                                "Extract_Alarm_ID": {
                                    "type": "Compose",
                                    "inputs": "@split(split(items('For_Each_Incident')?['properties']?['title'], '#')[1], ' ')[0]",
                                    "runAfter": {}
                                },
                                "Extract_Company_Name": {
                                    "type": "Compose",
                                    "inputs": "@split(split(items('For_Each_Incident')?['properties']?['title'], '[MSSP-')[1], ']')[0]",
                                    "runAfter": {
                                        "Extract_Alarm_ID": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Filter_Company_Config": {
                                    "type": "Query",
                                    "inputs": {
                                        "from": "@body('Build_Company_Array')",
                                        "where": "@equals(item()?['CompanyName'], outputs('Extract_Company_Name'))"
                                    },
                                    "runAfter": {
                                        "Extract_Company_Name": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Check_Has_Synced_Tag": {
                                    "type": "Compose",
                                    "inputs": "@contains(string(coalesce(items('For_Each_Incident')?['properties']?['labels'], json('[]'))), 'Synced')",
                                    "runAfter": {
                                        "Filter_Company_Config": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Check_If_Should_Sync": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_Each_Incident')?['properties']?['status']",
                                                    "Closed"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@outputs('Check_Has_Synced_Tag')",
                                                    false
                                                ]
                                            },
                                            {
                                                "greater": [
                                                    "@length(body('Filter_Company_Config'))",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "Update_SOCRadar_Status": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "https://platform.socradar.com/api/company/@{first(body('Filter_Company_Config'))?['CompanyId']}/alarms/status/change",
                                                "headers": {
                                                    "API-Key": "@{parameters('SocradarApiKey')}",
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "alarm_ids": "@createArray(int(outputs('Extract_Alarm_ID')))",
                                                    "status": "@{if(equals(items('For_Each_Incident')?['properties']?['classification'], 'FalsePositive'), 9, if(equals(items('For_Each_Incident')?['properties']?['classification'], 'BenignPositive'), 12, 2))}",
                                                    "comments": "Closed in Microsoft Sentinel (Classification: @{coalesce(items('For_Each_Incident')?['properties']?['classification'], 'Unclassified')})"
                                                },
                                                "retryPolicy": {
                                                    "type": "exponential",
                                                    "count": 4,
                                                    "interval": "PT10S",
                                                    "maximumInterval": "PT1H"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs"
                                                    ]
                                                }
                                            },
                                            "runAfter": {}
                                        },
                                        "Map_Severity": {
                                            "type": "Compose",
                                            "inputs": "@coalesce(items('For_Each_Incident')?['properties']?['severity'], 'Medium')",
                                            "runAfter": {
                                                "Update_SOCRadar_Status": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Update_SOCRadar_Severity": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "https://platform.socradar.com/api/company/@{first(body('Filter_Company_Config'))?['CompanyId']}/alarm/severity",
                                                "headers": {
                                                    "API-Key": "@{parameters('SocradarApiKey')}",
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "alarm_ids": "@createArray(int(outputs('Extract_Alarm_ID')))",
                                                    "severity": "@{outputs('Map_Severity')}"
                                                },
                                                "retryPolicy": {
                                                    "type": "exponential",
                                                    "count": 4,
                                                    "interval": "PT10S",
                                                    "maximumInterval": "PT1H"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs"
                                                    ]
                                                }
                                            },
                                            "runAfter": {
                                                "Map_Severity": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Add_Synced_Tag": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "PUT",
                                                "uri": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents/@{items(''For_Each_Incident'')?[''name'']}?api-version=2023-11-01')]",
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "etag": "@{items('For_Each_Incident')?['etag']}",
                                                    "properties": {
                                                        "title": "@{items('For_Each_Incident')?['properties']?['title']}",
                                                        "description": "@{items('For_Each_Incident')?['properties']?['description']}",
                                                        "status": "@{items('For_Each_Incident')?['properties']?['status']}",
                                                        "severity": "@{items('For_Each_Incident')?['properties']?['severity']}",
                                                        "classification": "@{items('For_Each_Incident')?['properties']?['classification']}",
                                                        "classificationReason": "@{items('For_Each_Incident')?['properties']?['classificationReason']}",
                                                        "classificationComment": "@{items('For_Each_Incident')?['properties']?['classificationComment']}",
                                                        "owner": "@items('For_Each_Incident')?['properties']?['owner']",
                                                        "firstActivityTimeUtc": "@{items('For_Each_Incident')?['properties']?['firstActivityTimeUtc']}",
                                                        "lastActivityTimeUtc": "@{items('For_Each_Incident')?['properties']?['lastActivityTimeUtc']}",
                                                        "labels": "@union(coalesce(items('For_Each_Incident')?['properties']?['labels'], json('[]')), json('[{\"labelName\": \"Synced\", \"labelType\": \"User\"}]'))"
                                                    }
                                                },
                                                "retryPolicy": {
                                                    "type": "exponential",
                                                    "count": 4,
                                                    "interval": "PT10S",
                                                    "maximumInterval": "PT1H"
                                                }
                                            },
                                            "runAfter": {
                                                "Update_SOCRadar_Severity": [
                                                    "Succeeded",
                                                    "Failed",
                                                    "Skipped",
                                                    "TimedOut"
                                                ]
                                            }
                                        },
                                        "Check_Sync_Audit": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@parameters('EnableAuditLogging')",
                                                            true
                                                        ]
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "Log_Sync_Event": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "method": "POST",
                                                        "uri": "@{concat(parameters('AuditDcrEndpoint'), '/dataCollectionRules/', parameters('AuditDcrImmutableId'), '/streams/', parameters('AuditStreamName'), '?api-version=2023-01-01')}",
                                                        "headers": {
                                                            "Content-Type": "application/json"
                                                        },
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "https://monitor.azure.com"
                                                        },
                                                        "body": [
                                                            {
                                                                "TimeGenerated": "@{utcNow()}",
                                                                "EventType": "IncidentSynced",
                                                                "AlarmId": "@{outputs('Extract_Alarm_ID')}",
                                                                "IncidentId": "@{items('For_Each_Incident')?['properties']?['incidentNumber']}",
                                                                "CompanyId": "@{first(body('Filter_Company_Config'))?['CompanyId']}",
                                                                "CompanyName": "@{first(body('Filter_Company_Config'))?['CompanyName']}",
                                                                "AlarmType": "",
                                                                "Status": "@{coalesce(items('For_Each_Incident')?['properties']?['classification'], 'Unclassified')}",
                                                                "Severity": "@{coalesce(items('For_Each_Incident')?['properties']?['severity'], 'Medium')}",
                                                                "Message": "@{concat('Incident synced: classification=', coalesce(items('For_Each_Incident')?['properties']?['classification'], 'Unknown'))}",
                                                                "FullAlarmJson": ""
                                                            }
                                                        ]
                                                    },
                                                    "runAfter": {}
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            },
                                            "runAfter": {
                                                "Add_Synced_Tag": [
                                                    "Succeeded",
                                                    "Failed"
                                                ]
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    },
                                    "runAfter": {
                                        "Check_Has_Synced_Tag": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            },
                            "runAfter": {
                                "Pagination_Loop_Closed": [
                                    "Succeeded"
                                ]
                            }
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                                "connectionName": "[variables('SentinelConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
                            }
                        }
                    },
                    "SocradarApiKey": {
                        "value": "[parameters('SocradarApiKey')]"
                    },
                    "CompanyIds": {
                        "value": "[parameters('CompanyIds')]"
                    },
                    "CompanyNames": {
                        "value": "[parameters('CompanyNames')]"
                    },
                    "WorkspaceName": {
                        "value": "[parameters('WorkspaceName')]"
                    },
                    "PollingIntervalMinutes": {
                        "value": "[parameters('PollingIntervalMinutes')]"
                    },
                    "EnableAuditLogging": {
                        "value": "[parameters('EnableAuditLogging')]"
                    },
                    "AuditDcrEndpoint": {
                        "value": "[if(parameters('EnableAuditLogging'), reference(resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName')), '2023-03-11').endpoints.logsIngestion, '')]"
                    },
                    "AuditDcrImmutableId": {
                        "value": "[if(parameters('EnableAuditLogging'), reference(resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName')), '2023-03-11').immutableId, '')]"
                    },
                    "AuditStreamName": {
                        "value": "[variables('AuditStreamName')]"
                    }
                }
            }
        },
        {
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceGroup().id, variables('ImportPlaybookName'), variables('SentinelContributorRoleId'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName'))]"
            ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('SentinelContributorRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName')), variables('ImportPlaybookName'), variables('LogAnalyticsReaderRoleId'))]",
            "scope": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName'))]"
            ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('LogAnalyticsReaderRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "condition": "[parameters('EnableAuditLogging')]",
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName')), variables('ImportPlaybookName'), variables('MonitoringMetricsPublisherRoleId'))]",
            "scope": "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName'))]",
                "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName'))]"
            ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('MonitoringMetricsPublisherRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "condition": "[parameters('EnableAlarmsTable')]",
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceId('Microsoft.Insights/dataCollectionRules', variables('AlarmsDcrName')), variables('ImportPlaybookName'), variables('MonitoringMetricsPublisherRoleId'))]",
            "scope": "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AlarmsDcrName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName'))]",
                "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AlarmsDcrName'))]"
            ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('MonitoringMetricsPublisherRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceGroup().id, variables('SyncPlaybookName'), variables('SentinelContributorRoleId'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('SyncPlaybookName'))]"
            ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('SentinelContributorRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('SyncPlaybookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "condition": "[parameters('EnableAuditLogging')]",
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName')), variables('SyncPlaybookName'), variables('MonitoringMetricsPublisherRoleId'))]",
            "scope": "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('SyncPlaybookName'))]",
                "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName'))]"
            ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('MonitoringMetricsPublisherRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('SyncPlaybookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "type": "Microsoft.Insights/diagnosticSettings",
            "apiVersion": "2021-05-01-preview",
            "scope": "[resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName'))]",
            "name": "[concat(variables('ImportPlaybookName'), '-diagnostics')]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName'))]"
            ],
            "properties": {
                "workspaceId": "[variables('workspaceResourceId')]",
                "logs": [
                    {
                        "categoryGroup": "allLogs",
                        "enabled": true
                    }
                ],
                "metrics": [
                    {
                        "category": "AllMetrics",
                        "enabled": true
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Insights/diagnosticSettings",
            "apiVersion": "2021-05-01-preview",
            "scope": "[resourceId('Microsoft.Logic/workflows', variables('SyncPlaybookName'))]",
            "name": "[concat(variables('SyncPlaybookName'), '-diagnostics')]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('SyncPlaybookName'))]"
            ],
            "properties": {
                "workspaceId": "[variables('workspaceResourceId')]",
                "logs": [
                    {
                        "categoryGroup": "allLogs",
                        "enabled": true
                    }
                ],
                "metrics": [
                    {
                        "category": "AllMetrics",
                        "enabled": true
                    }
                ]
            }
        }
    ],
    "outputs": {
        "importLogicAppName": {
            "type": "string",
            "value": "[variables('ImportPlaybookName')]"
        },
        "syncLogicAppName": {
            "type": "string",
            "value": "[variables('SyncPlaybookName')]"
        },
        "auditTableName": {
            "type": "string",
            "value": "[if(parameters('EnableAuditLogging'), variables('AuditTableName'), 'N/A')]"
        },
        "alarmsTableName": {
            "type": "string",
            "value": "[if(parameters('EnableAlarmsTable'), variables('AlarmsTableName'), 'N/A')]"
        },
        "dceName": {
            "type": "string",
            "value": "[if(parameters('EnableAlarmsTable'), variables('DceName'), 'N/A')]"
        },
        "pollingInterval": {
            "type": "string",
            "value": "[concat(parameters('PollingIntervalMinutes'), ' minutes')]"
        },
        "workbookName": {
            "type": "string",
            "value": "[if(parameters('EnableWorkbook'), variables('WorkbookName'), 'N/A')]"
        }
    }
}