Playbooks/SOCRadar-MSSP-Sync/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "SOCRadar-MSSP-Sync",
        "description": "Multi-tenant incident sync for MSSP. Routes closed Sentinel incidents back to the correct SOCRadar tenant with classification mapping and per-tenant API key resolution.",
        "version": "1.0.0",
        "author": "SOCRadar",
        "lastUpdateTime": "2026-02-23T00:00:00.000Z"
    },
    "parameters": {
        "PlaybookName": {
            "type": "string",
            "defaultValue": "SOCRadar-MSSP-Sync",
            "metadata": { "description": "Name of the Logic App" }
        },
        "SocradarApiKey": {
            "type": "securestring",
            "metadata": { "description": "SOCRadar Platform API Key" }
        },
        "CompanyIds": {
            "type": "string",
            "metadata": { "description": "Comma-separated SOCRadar Company IDs (e.g., 330,331,332)" }
        },
        "CompanyNames": {
            "type": "string",
            "metadata": { "description": "Comma-separated Company Names matching IDs (e.g., ACME,Contoso,Fabrikam)" }
        },
        "WorkspaceName": {
            "type": "string",
            "metadata": { "description": "Microsoft Sentinel Log Analytics Workspace Name" }
        },
        "PollingIntervalMinutes": {
            "type": "int",
            "defaultValue": 5,
            "minValue": 1,
            "maxValue": 1440,
            "metadata": { "description": "Polling interval in minutes (1-1440)" }
        },
        "EnableAuditLogging": {
            "type": "bool",
            "defaultValue": false,
            "metadata": { "description": "Enable audit logging to Log Analytics custom table" }
        },
        "AuditDcrEndpoint": {
            "type": "string",
            "defaultValue": "",
            "metadata": { "description": "Audit DCR endpoint (required if EnableAuditLogging=true)" }
        },
        "AuditDcrImmutableId": {
            "type": "string",
            "defaultValue": "",
            "metadata": { "description": "Audit DCR immutable ID (required if EnableAuditLogging=true)" }
        },
        "_triggerStartTime": {
            "type": "string",
            "defaultValue": "[dateTimeAdd(utcNow(), 'PT3M')]",
            "metadata": { "description": "Trigger start time (3 min delay for role propagation)" }
        }
    },
    "variables": {
        "SentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "SentinelContributorRoleId": "ab8e14d6-4a74-4a29-9ba8-549422addade",
        "AuditStreamName": "Custom-SOCRadarAuditLog_CL"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('SentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('SentinelConnectionName')]",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
                },
                "parameterValueType": "Alternative"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": { "type": "SystemAssigned" },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]"
            ],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": { "defaultValue": {}, "type": "Object" },
                        "SocradarApiKey": { "type": "SecureString" },
                        "CompanyIds": { "type": "String" },
                        "CompanyNames": { "type": "String" },
                        "WorkspaceName": { "type": "String" },
                        "PollingIntervalMinutes": { "type": "Int" },
                        "EnableAuditLogging": { "type": "Bool", "defaultValue": false },
                        "AuditDcrEndpoint": { "type": "String", "defaultValue": "" },
                        "AuditDcrImmutableId": { "type": "String", "defaultValue": "" },
                        "AuditStreamName": { "type": "String", "defaultValue": "Custom-SOCRadarAuditLog_CL" }
                    },
                    "triggers": {
                        "Recurrence": {
                            "type": "Recurrence",
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": "[parameters('PollingIntervalMinutes')]",
                                "startTime": "[parameters('_triggerStartTime')]"
                            },
                            "operationOptions": "SingleInstance"
                        }
                    },
                    "actions": {
                        "Build_Company_Array": {
                            "type": "Select",
                            "inputs": {
                                "from": "@range(0, length(split(parameters('CompanyIds'), ',')))",
                                "select": {
                                    "CompanyId": "@trim(split(parameters('CompanyIds'), ',')[item()])",
                                    "CompanyName": "@trim(split(parameters('CompanyNames'), ',')[item()])"
                                }
                            },
                            "runAfter": {}
                        },
                        "Calculate_Lookback_Time": {
                            "type": "Compose",
                            "inputs": "@addMinutes(utcNow(), mul(-2, parameters('PollingIntervalMinutes')))",
                            "runAfter": { "Build_Company_Array": ["Succeeded"] }
                        },
                        "Initialize_Closed_Incidents": {
                            "type": "InitializeVariable",
                            "inputs": { "variables": [{ "name": "closed_incidents", "type": "array", "value": [] }] },
                            "runAfter": { "Calculate_Lookback_Time": ["Succeeded"] }
                        },
                        "Initialize_Closed_NextLink": {
                            "type": "InitializeVariable",
                            "inputs": { "variables": [{ "name": "closed_next_link", "type": "string", "value": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents?api-version=2023-11-01&$top=1000&$filter=properties/labels/any(label: label/labelName eq ''SOCRadar'') and properties/status eq ''Closed'' and properties/lastModifiedTimeUtc ge @{outputs(''Calculate_Lookback_Time'')} and startswith(properties/title, ''[MSSP-'')')]" }] },
                            "runAfter": { "Initialize_Closed_Incidents": ["Succeeded"] }
                        },
                        "Pagination_Loop_Closed": {
                            "type": "Until",
                            "expression": "@equals(variables('closed_next_link'), '')",
                            "limit": { "count": 100, "timeout": "PT1H" },
                            "actions": {
                                "Query_Closed_Page": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "@variables('closed_next_link')",
                                        "authentication": { "type": "ManagedServiceIdentity" },
                                        "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT10S", "maximumInterval": "PT1H" }
                                    },
                                    "runAfter": {}
                                },
                                "Compose_New_Closed": {
                                    "type": "Compose",
                                    "inputs": "@union(variables('closed_incidents'), coalesce(body('Query_Closed_Page')?['value'], json('[]')))",
                                    "runAfter": { "Query_Closed_Page": ["Succeeded"] }
                                },
                                "Set_Closed_Incidents": {
                                    "type": "SetVariable",
                                    "inputs": { "name": "closed_incidents", "value": "@outputs('Compose_New_Closed')" },
                                    "runAfter": { "Compose_New_Closed": ["Succeeded"] }
                                },
                                "Set_Closed_NextLink": {
                                    "type": "SetVariable",
                                    "inputs": { "name": "closed_next_link", "value": "@coalesce(body('Query_Closed_Page')?['nextLink'], '')" },
                                    "runAfter": { "Set_Closed_Incidents": ["Succeeded"] }
                                }
                            },
                            "runAfter": { "Initialize_Closed_NextLink": ["Succeeded"] }
                        },
                        "For_Each_Incident": {
                            "type": "Foreach",
                            "foreach": "@variables('closed_incidents')",
                            "runtimeConfiguration": { "concurrency": { "repetitions": 5 } },
                            "actions": {
                                "Extract_Alarm_ID": {
                                    "type": "Compose",
                                    "inputs": "@split(split(items('For_Each_Incident')?['properties']?['title'], '#')[1], ' ')[0]",
                                    "runAfter": {}
                                },
                                "Extract_Company_Name": {
                                    "type": "Compose",
                                    "inputs": "@split(split(items('For_Each_Incident')?['properties']?['title'], '[MSSP-')[1], ']')[0]",
                                    "runAfter": { "Extract_Alarm_ID": ["Succeeded"] }
                                },
                                "Filter_Company_Config": {
                                    "type": "Query",
                                    "inputs": {
                                        "from": "@body('Build_Company_Array')",
                                        "where": "@equals(item()?['CompanyName'], outputs('Extract_Company_Name'))"
                                    },
                                    "runAfter": { "Extract_Company_Name": ["Succeeded"] }
                                },
                                "Check_Has_Synced_Tag": {
                                    "type": "Compose",
                                    "inputs": "@contains(string(coalesce(items('For_Each_Incident')?['properties']?['labels'], json('[]'))), 'Synced')",
                                    "runAfter": { "Filter_Company_Config": ["Succeeded"] }
                                },
                                "Check_If_Should_Sync": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            { "equals": ["@items('For_Each_Incident')?['properties']?['status']", "Closed"] },
                                            { "equals": ["@outputs('Check_Has_Synced_Tag')", false] },
                                            { "greater": ["@length(body('Filter_Company_Config'))", 0] }
                                        ]
                                    },
                                    "actions": {
                                        "Update_SOCRadar_Status": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "https://platform.socradar.com/api/company/@{first(body('Filter_Company_Config'))?['CompanyId']}/alarms/status/change",
                                                "headers": {
                                                    "API-Key": "@{parameters('SocradarApiKey')}",
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "alarm_ids": "@createArray(int(outputs('Extract_Alarm_ID')))",
                                                    "status": "@{if(equals(items('For_Each_Incident')?['properties']?['classification'], 'FalsePositive'), 9, if(equals(items('For_Each_Incident')?['properties']?['classification'], 'BenignPositive'), 12, 2))}",
                                                    "comments": "Closed in Microsoft Sentinel (Classification: @{coalesce(items('For_Each_Incident')?['properties']?['classification'], 'Unclassified')})"
                                                },
                                                "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT10S", "maximumInterval": "PT1H" }
                                            },
                                            "runtimeConfiguration": { "secureData": { "properties": ["inputs"] } },
                                            "runAfter": {}
                                        },
                                        "Map_Severity": {
                                            "type": "Compose",
                                            "inputs": "@coalesce(items('For_Each_Incident')?['properties']?['severity'], 'Medium')",
                                            "runAfter": { "Update_SOCRadar_Status": ["Succeeded"] }
                                        },
                                        "Update_SOCRadar_Severity": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "https://platform.socradar.com/api/company/@{first(body('Filter_Company_Config'))?['CompanyId']}/alarm/severity",
                                                "headers": {
                                                    "API-Key": "@{parameters('SocradarApiKey')}",
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "alarm_ids": "@createArray(int(outputs('Extract_Alarm_ID')))",
                                                    "severity": "@{outputs('Map_Severity')}"
                                                },
                                                "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT10S", "maximumInterval": "PT1H" }
                                            },
                                            "runtimeConfiguration": { "secureData": { "properties": ["inputs"] } },
                                            "runAfter": { "Map_Severity": ["Succeeded"] }
                                        },
                                        "Add_Synced_Tag": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "PUT",
                                                "uri": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents/@{items(''For_Each_Incident'')?[''name'']}?api-version=2023-11-01')]",
                                                "authentication": { "type": "ManagedServiceIdentity" },
                                                "headers": { "Content-Type": "application/json" },
                                                "body": {
                                                    "etag": "@{items('For_Each_Incident')?['etag']}",
                                                    "properties": {
                                                        "title": "@{items('For_Each_Incident')?['properties']?['title']}",
                                                        "description": "@{items('For_Each_Incident')?['properties']?['description']}",
                                                        "status": "@{items('For_Each_Incident')?['properties']?['status']}",
                                                        "severity": "@{items('For_Each_Incident')?['properties']?['severity']}",
                                                        "classification": "@{items('For_Each_Incident')?['properties']?['classification']}",
                                                        "classificationReason": "@{items('For_Each_Incident')?['properties']?['classificationReason']}",
                                                        "classificationComment": "@{items('For_Each_Incident')?['properties']?['classificationComment']}",
                                                        "owner": "@items('For_Each_Incident')?['properties']?['owner']",
                                                        "firstActivityTimeUtc": "@{items('For_Each_Incident')?['properties']?['firstActivityTimeUtc']}",
                                                        "lastActivityTimeUtc": "@{items('For_Each_Incident')?['properties']?['lastActivityTimeUtc']}",
                                                        "labels": "@union(coalesce(items('For_Each_Incident')?['properties']?['labels'], json('[]')), json('[{\"labelName\": \"Synced\", \"labelType\": \"User\"}]'))"
                                                    }
                                                },
                                                "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT10S", "maximumInterval": "PT1H" }
                                            },
                                            "runAfter": { "Update_SOCRadar_Severity": ["Succeeded", "Failed", "Skipped", "TimedOut"] }
                                        },
                                        "Check_Sync_Audit": {
                                            "type": "If",
                                            "expression": { "and": [{ "equals": ["@parameters('EnableAuditLogging')", true] }] },
                                            "actions": {
                                                "Log_Sync_Event": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "method": "POST",
                                                        "uri": "@{concat(parameters('AuditDcrEndpoint'), '/dataCollectionRules/', parameters('AuditDcrImmutableId'), '/streams/', parameters('AuditStreamName'), '?api-version=2023-01-01')}",
                                                        "headers": { "Content-Type": "application/json" },
                                                        "authentication": { "type": "ManagedServiceIdentity", "audience": "https://monitor.azure.com" },
                                                        "body": [{
                                                            "TimeGenerated": "@{utcNow()}",
                                                            "EventType": "IncidentSynced",
                                                            "AlarmId": "@{outputs('Extract_Alarm_ID')}",
                                                            "IncidentId": "@{items('For_Each_Incident')?['properties']?['incidentNumber']}",
                                                            "CompanyId": "@{first(body('Filter_Company_Config'))?['CompanyId']}",
                                                            "CompanyName": "@{first(body('Filter_Company_Config'))?['CompanyName']}",
                                                            "AlarmType": "",
                                                            "Status": "@{coalesce(items('For_Each_Incident')?['properties']?['classification'], 'Unclassified')}",
                                                            "Severity": "@{coalesce(items('For_Each_Incident')?['properties']?['severity'], 'Medium')}",
                                                            "Message": "@{concat('Incident synced: classification=', coalesce(items('For_Each_Incident')?['properties']?['classification'], 'Unknown'))}",
                                                            "FullAlarmJson": ""
                                                        }]
                                                    },
                                                    "runAfter": {}
                                                }
                                            },
                                            "else": { "actions": {} },
                                            "runAfter": { "Add_Synced_Tag": ["Succeeded", "Failed"] }
                                        }
                                    },
                                    "else": { "actions": {} },
                                    "runAfter": { "Check_Has_Synced_Tag": ["Succeeded"] }
                                }
                            },
                            "runAfter": { "Pagination_Loop_Closed": ["Succeeded"] }
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                                "connectionName": "[variables('SentinelConnectionName')]",
                                "connectionProperties": { "authentication": { "type": "ManagedServiceIdentity" } },
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
                            }
                        }
                    },
                    "SocradarApiKey": { "value": "[parameters('SocradarApiKey')]" },
                    "CompanyIds": { "value": "[parameters('CompanyIds')]" },
                    "CompanyNames": { "value": "[parameters('CompanyNames')]" },
                    "WorkspaceName": { "value": "[parameters('WorkspaceName')]" },
                    "PollingIntervalMinutes": { "value": "[parameters('PollingIntervalMinutes')]" },
                    "EnableAuditLogging": { "value": "[parameters('EnableAuditLogging')]" },
                    "AuditDcrEndpoint": { "value": "[parameters('AuditDcrEndpoint')]" },
                    "AuditDcrImmutableId": { "value": "[parameters('AuditDcrImmutableId')]" },
                    "AuditStreamName": { "value": "[variables('AuditStreamName')]" }
                }
            }
        },
        {
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceGroup().id, parameters('PlaybookName'), variables('SentinelContributorRoleId'))]",
            "dependsOn": [ "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]" ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('SentinelContributorRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "type": "Microsoft.Insights/diagnosticSettings",
            "apiVersion": "2021-05-01-preview",
            "scope": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]",
            "name": "[concat(parameters('PlaybookName'), '-diagnostics')]",
            "dependsOn": ["[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"],
            "properties": {
                "workspaceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
                "logs": [{ "categoryGroup": "allLogs", "enabled": true }],
                "metrics": [{ "category": "AllMetrics", "enabled": true }]
            }
        }
    ],
    "outputs": {
        "logicAppName": { "type": "string", "value": "[parameters('PlaybookName')]" },
        "pollingInterval": { "type": "string", "value": "[concat(parameters('PollingIntervalMinutes'), ' minutes')]" },
        "lookbackWindow": { "type": "string", "value": "[concat(mul(2, parameters('PollingIntervalMinutes')), ' minutes (2x polling)')]" },
        "filter": { "type": "string", "value": "SOCRadar label + Closed + lastModified + MSSP title (API) + Synced check (Logic App)" }
    }
}